//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    padding: 80px 5%;
    background: $navy;
    color: $white;

    &__logo {
        width: 200px;
        margin-bottom: 20px;
        
        @media screen and (min-width: 768px) {
            width: 320px;
            margin-bottom: 40px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 62px;
        }
    }
    
    &__link--logo {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    &__container {
        @media screen and (min-width: 1024px) {
            display: flex;
            gap: 260px;
        }
    
    }
    
    &__box--contact {
    
    }
    
    &__contact {
        margin-bottom: 28px;
        font-family: $Poppins;
        font-weight: 700;

        @media screen and (min-width: 768px) {
            font-size: 24px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 28px;
        }
    
    }
    
    &__txt {
        margin-bottom: 1.3em;
        font-family: $Poppins;
        font-size: 13px;
        font-weight: 300;

        @media screen and (min-width: 1024px) {
            font-size: 16px;
        }
    }

    &__unit {
        display: flex;
        gap: 16px;
        margin-bottom: 70px;

        @media screen and (min-width: 1024px) {
            gap: 30px;
        }
    }
    
    &__twitter {
        height: 24px;

        @media screen and (min-width: 1024px) {
            height: 32px;
        }

    
    }
    
    &__instagram {
        height: 24px;

        @media screen and (min-width: 1024px) {
            height: 32px;
        }
    }

    &__link--svg {
        display: block;
        width: 100%;
        height: 100%;
        color: $white;
        text-decoration: none;

        &:hover {
            opacity: 0.7;
        }
    }

    &__svg {
        width: 100%;
        height: 100%;
        fill: $white;
    }

    &__box--content {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
            font-size: 10px;
            font-weight: 300;

            // 次：ここのPC版設定から


        }

    }
    
    &__content {
        @media screen and (min-width: 1024px) {
            margin-bottom: 26px;
        }
    
    }
    
    &__nav {
    
    }
    
    &__list {
        @media screen and (min-width: 1024px) {
            margin-bottom: 40px;
          

        }
        list-style-type: none;
    
    }

    &__link {
        @media screen and (min-width: 1024px) {
            color: $white;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;

            &:hover {
                opacity: .7;
            }
        }
    }
    
    &__privacy {
        display: inline-block;
        padding-bottom: 4px;
        margin-bottom: 50px;
        border-bottom: 1px solid $white;
        font-size: 11px;
        font-weight: 300;
        
        &:hover {
            opacity: .7;
        }
        
        @media screen and (min-width: 1024px) {
            font-size: 12px;
        }
    }

    &__link--privacy {
        display: block;
        color: $white;
        text-decoration: none;
    }
    
    &__copy {
        font-family: $Poppins;
        font-size: 10px;
        font-weight: 300;

        @media screen and (min-width: 1024px) {
            font-size: 11px;
        }
    
    }
    
    &__small {
    
    }
}


