//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {

    // &__logo {
    //     width: 27%;
    
    // }
    
    // &__link {
    //     display: block;
    
    // }
    
    // &__img {
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    
    // }
    
    &__container {
    
    }
    
    &__box {
    
    }
    
    &__contact {
    
    }
    
    &__tel {
    
    }
    
    &__txt {
    
    }
    
    &__mail {
    
    }
    
    &__unit {
    
    }
    
    &__twitter {
    
    }
    
    &__instagram {
    
    }
    
    &__content {
    
    }
    
    &__nav {
    
    }
    
    &__list {
    
    }
    
    &__privacy {
    
    }
    
    &__copy {
    
    }
    
    &__small {
    
    }
}


