//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 3;
    
    @media screen and (min-width: 1024px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        padding: 0 0 0 48px;
    }

    &__ttl {
        width: 30%;
        margin-left: 16px;

        @media screen and (min-width: 1024px) {
            width: 17%;
        }

    }

    &__link {
        display: block;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
