//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.gnav {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    

    @media screen and (min-width: 1024px) {
        // display: block;
        position: static;
        width: auto;
        height: auto;
        margin-left: auto;
        opacity: 1;
        pointer-events: auto;
        background: none;
    }


    &__nav {
        margin-left: 5%;

        @media screen and (min-width: 1024px) {
            margin-left: 0;
            display: flex;
          
        }
    
    }
    
    &__list {
        margin-bottom: 48px;

        @media screen and (min-width: 768px) {
            margin-bottom: 64px;
        }
        @media screen and (min-width: 1024px) {
            margin-right: 60px;
            margin-bottom: 0;
        }
    
    }
    
    &__link {
        color: $white;
        font-family: $Poppins;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        
        @media screen and (min-width: 1024px) {
            padding: 10px 20px;
            color: $navy;
            font-size: 14px;
            font-weight: 400;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}


.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-left: 1px solid $navy;
    z-index: 1;
    
    &:hover {
        cursor: pointer;
    }
    
    @media screen and (min-width: 1024px) {
        width: 100px;
        height: 100px;
    }

    &__top, &__middle, &__bottom   {
        position: absolute;
        display: block;
        width: 30px;
        height: 1px;
        background: $navy;
        transition: .3s;

        @media screen and (min-width: 1024px) {
            width: 40px;
        }
    }

    &__top {
        transform: translateY(-10px);
    }

    &__bottom {
        transform: translateY(10px);
    }
}
