//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

body {
    background: $white;
    color: $navy;
    font-family: $Sans;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05em;
}