@use "../global" as *;

#history {
    .mv {
        position: relative;
        height: 70vh;
        min-height: 370px;
        padding: 110px 5% 0;
        margin: 60px 0 100px;
        // margin: 60px 0 0;
        

        @media screen and (min-width: 768px) {
            max-height: 480px;
        }

        @media screen and (min-width: 1024px) {
            // margin: 80px 0 200px;
            height: 110vh;
            // width: 60%;
            max-height: none;
            margin: 100px 0 200px;
        }

        &__bg {
            position: absolute;
            top: 0;
            right: 0;
            background: url(../images/company/img1.jpg) center center / cover no-repeat;
            width: 78%;
            // height: 110vw;
            height: 88%;
            z-index: -1;

            @media screen and (min-width: 1024px) {
                height: 100%;
                width: 60%;
            }
        }

        &__unit {
            margin-bottom: 70px;

            @media screen and (min-width: 1024px) {
                margin-bottom: 263px;
            }
        }

        &__ttl {
            margin-bottom: 20px;
            font-family: $Poppins;
            font-size: 40px;
            line-height: 1.1;

            @media screen and (min-width: 1024px) {
                font-size: 60px;
            }
        }

        &__jpn {
            font-size: 14px;
            font-weight: 400;
            opacity: 0.6;

            @media screen and (min-width: 1024px) {
                font-size: 16px;
            }
        }

        &__sub {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.77;

            @media screen and (min-width: 1024px) {
                font-size: 45px;
            }
        }

        &__br__tab {
            display: none;

            @media screen and (min-width: 768px) {
                display: block;
            }
        }

    }
    .history {
        padding: 0 5%;
        margin-bottom: 100px;

        @media screen and (min-width: 1024px) {
            padding: 0 16.7%;
            margin-bottom: 200px;
        }

        &__txt {
            padding-bottom: 32px;
            text-align: justify;
            font-size: 15px;
            line-height: 2;
            border-bottom: 1px dotted $blue;

            @media screen and (min-width: 1024px) {
                padding: 60px 0;
                line-height: 2.5;
            }

            &::before {
                // position: absolute;
                position: relative;
                display: block;
                top: -32px;
                left: 0;
                content: "";
                width: 100%;
                height: 1px;
                background: $yellow;

                @media screen and (min-width: 1024px) {
                    top: -60px;
                }
            }
        }

        &__container {

            @media screen and (min-width: 1024px) {
                width: 70%;
              
            }

            

        }
        
        &__dl {
            line-height: 2;
            
        }
        
        &__box {
            padding: 24px 0;
            border-bottom: 1px dotted $blue;

            @media screen and (min-width: 1024px) {
                display: flex;
                align-items: center;
                padding: 32px 0;
              
            }
            
            
        }
        
        &__dt {
            margin-bottom: 12px;
            font-size: 20px;

            @media screen and (min-width: 1024px) {
                width: 300px;
                font-size: 40px;
            }
            
        }
        
        &__dd {
            font-size: 14px;
            min-width: 360px;

            @media screen and (min-width: 1024px) {
                min-width: none;
                font-size: 18px;
            }
        
        }
        
        

    }
    
}