//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#top {
    .wrapper {
        position: relative;
    }

    // MV ==============================================================
    .mv {
        position: relative;
        background: url(../images/top/mv_sample.jpg) center center / cover no-repeat;
        height: 110vw;
        margin-bottom: 84px;

            @media screen and (min-width: 768px) {
                height: 100vw;
            }
            @media screen and (min-width: 1024px) {
                height: 100vh;
                margin-bottom: 120px;
            }

        &__container {
            position: absolute;
            top: 200px;
            left: 20px;

            @media screen and (min-width: 768px) {
                top: 70vw;
                left: 5%;
            }
            @media screen and (min-width: 1024px) {
                top: 38vh;
                left: 8%;
            }
        }
        
        &__catch {
            margin-bottom: 20px;
            color: $white;
            font-size: 40px;
            font-weight: 100;

            @media screen and (min-width: 768px) {
                font-size: 48px;
            }
            @media screen and (min-width: 1024px) {
                margin-left: -14px;
                margin-bottom: 56px;
                font-size: 120px;
            }
        }
        
        &__sub {
            color: $white;
            font-family: $Poppins;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 0.03em;
            line-height: 1.33;

            @media screen and (min-width: 1024px) {
                font-size: 60px;
            }
        }

        &__br {
            @media screen and (min-width: 1024px) {
                display: none;
            }
        }
        
        &__link {
            color: $white;

            // バナーホバー時の矢印ボタンアクション
            &:hover {
                .mv__btn {
                    @include btnAction;
                }
                .mv__arrow {
                    @include arrowAction;
                }
            }
        }

        &__bnr {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            bottom: -86px;
            left: 0;
            width: 89%;
            height: 130px;
            background: $blue;

            @media screen and (min-width: 1024px) {
                bottom: 0;
                width: 536px;
                height: 200px;
                background: hsla(210, 64%, 40%, 0.8);
            }
        }

        &__box {
            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
                margin-left: 5%;
            }
            @media screen and (min-width: 1024px) {
                display: block;
                margin-left: 28%;
            }
        }
        
        &__pic {
            width: 150px;
            margin-bottom: 10px;

            @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }
            @media screen and (min-width: 1024px) {
                width: 252px;
                margin-left: -14px;
                margin-bottom: 24px;
            }
        }
        
        &__img {
            display: block;
            width: 100%;
            height: 100%;
        }

        &__txt {
            margin-left: 20px;
            font-size: 13px;

            @media screen and (min-width: 1024px) {
                font-size: 16px;
                margin-left: 18px;
            }
        }
        
        &__btn {
            @include btn(30px, 51px);

            position: relative;
            top: 0;
            right: 20px;

            @media screen and (min-width: 1024px) {
                right: 60px;
            }
        }

        &__arrow {
            @include arrow(8px);
        }
    }

    // About Section ==============================================================
    .about {
        padding-top: 60px;
        margin-bottom: 240px;
        
        @media screen and (min-width: 768px) {
            margin-bottom: 200px;
        }
        @media screen and (min-width: 1024px) {
            padding-top: 80px;
            margin-bottom: 320px;
        }
        
        &__bg {
            position: relative;
            height: 90vh;
            padding:30px 5% 0;
            background: url(../images/top/about_img1.jpg) top center / cover;

            @media screen and (min-width: 768px) {
                height: 50vh;
            }
            @media screen and (min-width: 1024px) {
                height: 81vh;
                padding: 160px 16.7% 0;
                margin-bottom: 120px;
            }
        }

        &__unit {
            margin-bottom: 24px;

            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
            }
        }

        &__ttl {
            @include TopSecTitle;

            &::after {
                @include TopSecTitleDeco(147px, 167px);
            }
        }
        
        &__jpn {
            @include TopSecTitleJpn(61px);
        }
        
        &__container {
            @media screen and (min-width: 1024px) {
                position: absolute;
                bottom: -136px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 66.7%;
            }
        }
        
        &__sub {
            font-size: 30px;
            font-weight: 600;
            line-height: 1.7;

            @media screen and (min-width: 1024px) {
                min-width: 300px;
                font-size: 45px;
                font-weight: 700;
                line-height: 2;
                letter-spacing: 0.1em;
            }
        }
        
        &__txt {
            position: absolute;
            bottom: -120px;
            left: 0;
            padding: 0 5%;
            text-align: justify;
            font-size: 15px;
            line-height: 2;

            @media screen and (min-width: 768px) {
                bottom: -72px;
            }
            @media screen and (min-width: 1024px) {
                position: static;
                width: 65%;
                padding: 0;
                line-height: 2.5;
            }
        }

    }
    // WSS Section ==============================================================
    .wss {
        margin-bottom: 80px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 200px;
        }

        &__unit {
            padding: 0 5%;
            margin-bottom: 24px;
            
            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
            }
            @media screen and (min-width: 1024px) {
                padding: 0 16.7%;
            }
        }
        
        &__ttl {
            @include TopSecTitle;
            
            &::after {
                @include TopSecTitleDeco(76px, 86px);
            }
        }
        
        &__jpn {
            @include TopSecTitleJpn(61px);
        }
        
        &__sub {
            padding: 0 5%;
            margin-bottom: 40px;
            text-align: justify;
            font-size: 13px;
            line-height: 1.6;
            opacity: .6;
            
            @media screen and (min-width: 1024px) {
                padding: 0 16.7%;
            }
        }
        
        &__wrap {

            @media screen and (min-width: 1024px) {
                display: flex;
            }
        }

        &__link {
            text-decoration: none;

            @media screen and (min-width: 1024px) {
                width: 50%;
                height: 680px;
            }

            &:hover {
                .wss__filter {
                    background: rgba(37, 103, 169, 0.3);
                }
                .wss__btn {
                    @include btnAction;
                }
                .wss__arrow {
                    @include arrowAction;
                }
            }
        }

        &__container01,
        &__container02 {
            width: 100%;
            height: 100%;
            color: $white;
            
            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        &__container01 {
            background: url(../images/top/wss_img1.jpg) center center / cover;
        }

        &__container02 {
            background: url(../images/top/wss_img2.jpg) center center / cover;
        }
        
        &__filter {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(37, 103, 169, 0.9);
            transition: .6s;
        }
        
        &__box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 88%;
            max-width: 330px;
            padding: 68px 0;

            @media screen and (min-width: 1024px) {
                min-width: 300px;
                padding: 120px 0;
            }
        }

        &__heading {
            text-align: center;
            margin: 40px 0;
            font-size: 24px;
            font-weight: 400;

            &::before {
                position: absolute;
                top: 72px;
                left: 0;
                content: "";
                width: 100%;
                height: 1px;
                background: $yellow;

                @media screen and (min-width: 1024px) {
                    top: 120px;
                }
            }
        }

        &__br {
            display: none;
        }
        
        &__lead {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 38px;
            font-size: 16px;
            font-weight: 400;

            &::before {
                display: block;
                top: 0;
                left: 0;
                content: "";
                width: 10%;
                height: 1px;
                background: $yellow;

                @media screen and (min-width: 1024px) {
                    width: 8%;
                }
            }

            &::after {
                display: block;
                top: 0;
                left: 0;
                content: "";
                width: 10%;
                height: 1px;
                background: $yellow;

                @media screen and (min-width: 1024px) {
                    width: 8%;
                }
            }
        }
        
        &__txt {
            margin-bottom: 24px;
            text-align: justify;
            font-size: 13px;
            font-weight: 400;
            line-height: 2;
            opacity: .6;

            @media screen and (min-width: 768px) {
                margin-bottom: 38px;
            }
            @media screen and (min-width: 1024px) {
                flex-grow: 1;
            }
        }
        
        &__btn {
            @include btn;
        }

        &__arrow {
            @include arrow;
        }
    }
    // History Section ==============================================================
    .history {
        margin-bottom: 80px;
        @media screen and (min-width: 1024px) {
            margin-bottom: 160px;
        }

        &__wrap {
                padding: 0 5%;
                
                @media screen and (min-width: 1024px) {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    width: 83%;
                    padding: 0;
                    margin-left: auto;
                }

            &::before {
                display: block;
                top: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 1px;
                background: $yellow;

                @media screen and (min-width: 1024px) {
                    position: absolute;
                    right: 0;
                }
            }
        }

        &__unit {
            margin-top: 60px;
            margin-bottom: 24px;
            
            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
            }
            @media screen and (min-width: 1024px) {
                // padding: 0 16.7%;
                margin-bottom: 56px;
            }
        }
        
        &__ttl {
            @include TopSecTitle;
            
            &::after {
                @include TopSecTitleDeco(263px, 302px);
            }
        }
        
        &__jpn {
            @include TopSecTitleJpn(61px);
        }
        
        &__txt {
            margin-bottom: 40px;
            text-align: justify;
            font-size: 13px;
            line-height: 1.6;
            opacity: .6;
            
            @media screen and (min-width: 1024px) {
                // padding: 0 16.7%;
                margin-bottom: 80px;
                font-size: 16px;
                line-height: 2.5;

            }
        
        }

        &__link {
            display: inline-block;
            margin-bottom: 40px;
            
        }
        
        &__btn {
            @include btn;

            border: 1px solid $navy;

            &:hover {
                .history__btn {
                    @include btnAction;
                }
                .history__arrow {
                    @include arrowAction;
                }
            }
        }
        
        &__arrow {
            @include arrow;
            stroke: $navy;
        }
        
        &__pic {
            background: url(../images/top/history_img1.jpg) center center / cover no-repeat;
            height: 50vw;

            @media screen and (min-width: 1024px) {
                width: 58%;
                max-width: 400px;
                height: 560px;
                margin-top: 60px;
            }
            @media screen and (min-width: 1300px) {
                max-width: none;
            }
        }
    }
    // Profile Section ==============================================================
    .profile {
        padding: 0 5%;
        margin-top: 60px;
        
        @media screen and (min-width: 1024px) {
            padding: 80px 16.7% 0;
        }

        &::before {
            display: block;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background: $yellow;
        }

        &__unit {
            margin: 60px 0 34px 0;

            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
            }
        }
        
        &__ttl {
            @include TopSecTitle;

            &::after {
                @include TopSecTitleDeco(250px, 290px);
            }
        }
        
        &__jpn {
            @include TopSecTitleJpn(61px);
        }
        
        &__container {
            @media screen and (min-width: 1024px) {
                display: flex;
                justify-content: space-between;
            }
        }
        
        &__dl {
            margin-bottom: 17px;
            font-size: 14px;
    
            @media screen and (min-width: 1024px) {
                font-size: 16px;
            }
        }
        
        &__box {
            padding: 25px 0;
            border-top: 1px dotted $blue;
            
            &:last-child {
                border-bottom: 1px dotted $blue;
                
            }

            
        }
        
        &__dt {
            margin-bottom: 12px;
        }
        
        &__dd {
            font-weight: 300;
        
        }
        
        &__gmap {
         width: 100%;   
        
        }
    }
    
    
    

    
    
    

    
    
    
    






}