//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#top {
    .wrapper {
        position: relative;
    }

    // MV ==============================================================
    .mv {
        position: relative;
        background: url(../images/top/mv_sample.jpg) center center / cover no-repeat;
        height: 110vw;

            @media screen and (min-width: 768px) {
                height: 100vw;
            }
            @media screen and (min-width: 1024px) {
                height: 100vh;

            }

        &__container {
            position: absolute;
            top: 200px;
            left: 20px;

            @media screen and (min-width: 768px) {
                top: 70vw;
                left: 5%;
            }
            @media screen and (min-width: 1024px) {
                top: 38vh;
                left: 8%;
            }
        }
        
        &__catch {
            margin-bottom: 20px;
            color: $white;
            font-size: 40px;
            font-weight: 100;

            @media screen and (min-width: 768px) {
                font-size: 48px;
            }
            @media screen and (min-width: 1024px) {
                margin-left: -14px;
                margin-bottom: 56px;
                font-size: 120px;
            }
        }
        
        &__sub {
            color: $white;
            font-family: $Poppins;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 0.03em;
            line-height: 1.33;

            @media screen and (min-width: 1024px) {
                font-size: 60px;
            }
        }

        &__br {
            @media screen and (min-width: 1024px) {
                display: none;
            }
        }
        
        &__link {
            color: $white;

            &:hover {
                .mv__btn {
                    @include btnAction;
                }
                .mv__arrow {
                    @include arrowAction;
                }
            }
        }

        &__bnr {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            bottom: -86px;
            left: 0;
            width: 89%;
            height: 130px;
            background: $blue;

            @media screen and (min-width: 1024px) {
                bottom: 0;
                width: 536px;
                height: 200px;
                background: hsla(210, 64%, 40%, 0.8);
            }
        }

        &__box {
            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
                margin-left: 5%;
            }
            @media screen and (min-width: 1024px) {
                display: block;
                margin-left: 28%;
            }
        }
        
        &__pic {
            width: 150px;
            margin-bottom: 10px;

            @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }
            @media screen and (min-width: 1024px) {
                width: 252px;
                margin-left: -14px;
                margin-bottom: 24px;
            }
        }
        
        &__img {
            display: block;
            width: 100%;
            height: 100%;
        }

        &__txt {
            margin-left: 20px;
            font-size: 13px;

            @media screen and (min-width: 1024px) {
                font-size: 16px;
                margin-left: 18px;
            }
        }
        
        &__btn {
            @include btn;

            position: relative;
            top: 0;
            right: 20px;

            @media screen and (min-width: 1024px) {
                right: 60px;
            }
        }

        &__arrow {
            @include arrow;
        }
        
    }

    // About Section ==============================================================
    .about {

        // 次：Tabバージョンから

        padding-top: 144px;
        margin-bottom: 120px;
        
        &__bg {
            height: 90vh;
            padding:30px 5% 0;
            background: url(../images/top/about_img1.jpg) top center / cover;
        }

        &__unit {
            margin-bottom: 24px;

            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
            }
        }

        &__ttl {
            @include TopSecTitle;

            &::after {
                @include TopSecTitleDeco(147px);
            }
        }
        
        &__jpn {
            @include TopSecTitleJpn(61px);
        }
        
        &__container {
        
        }
        
        &__sub {
            margin-bottom: 192px;
            font-size: 30px;
            font-weight: 600;
            line-height: 1.7;
        }
        
        &__txt {
            font-size: 15px;
            line-height: 2;
        }

    }
    // WSS Section ==============================================================
    .wss {
        padding-top: 144px;


        &__ttl {
        
        }
        
        &__jpn {
        
        }
        
        &__sub {
        
        }
        
        &__container {
        
        }
        
        &__box {
        
        }
        
        &__filter {
        
        }
        
        &__heading {
        
        }
        
        &__lead {
        
        }
        
        &__txt {
        
        }
        
        &__btn {
        
        }
    }
    
    
    
    
    






}