//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#top {
    .wrapper {
        position: relative;
    }

    // MV ==============================================================
    .mv {
        position: relative;
        background: url(../images/top/mv_sample.jpg) center center / cover no-repeat;
        height: 110vw;

        &__container {
            position: absolute;
            top: 200px;
            left: 20px;
        }
        
        &__catch {
            margin-bottom: 20px;
            color: $white;
            font-size: 40px;
            font-weight: 300;
            
        }
        
        &__sub {
            color: $white;
            font-family: $Poppins;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 0.03em;
            line-height: 1.33;
        
        }
        
        &__link {
            color: $white;
            

            &:hover {
                .mv__btn {
                    background: $white;
                    border: 1px solid $white;
                }
                .mv__arrow {
                    stroke: $navy;
                    transform: translateX(4px);
                    
                }

            }
        }

        &__bnr {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            bottom: -86px;
            left: 0;
            width: 89%;
            height: 130px;
            background: $blue;
        }
        
        &__pic {
            width: 150px;
            margin-bottom: 10px;
        
        }
        
        &__img {
            display: block;
            width: 100%;
            height: 100%;
        }

        &__txt {
            margin-left: 20px;
            font-size: 13px;
        }
        
        &__btn {
            position: relative;
            top: 0;
            right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border: 1px solid $yellow;
            border-radius: 50%;
            transition: .3s;
        }

        &__arrow {
            width: 8px;
            stroke: $yellow;
            transition: .3s;
        }

    }

    // About Section ==============================================================
    .about {
        padding-top: 144px;

        &__ttl {
        
        }
        
        &__jpn {
        
        }
        
        &__bg {
        
        }
        
        &__container {
        
        }
        
        &__sub {
        
        }
        
        &__txt {
        
        }

    }
    
    
    






}