@use "../global" as *;

#wss {
    .mv {
        padding: 110px 5%;

        @media screen and (min-width: 1024px) {
            padding: 200px 8.4%;
        }

        &__ttl {
            margin-bottom: 20px;
            font-family: $Poppins;
            font-size: 40px;

            @media screen and (min-width: 1024px) {
                font-size: 60px;
            }
        }

        &__jpn {
            margin-bottom: 70px;
            font-size: 14px;
            font-weight: 400;
            opacity: 0.6;

            @media screen and (min-width: 1024px) {
                margin-bottom: 120px;
                font-size: 16px;
            }
        }

        &__sub {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.67;

            @media screen and (min-width: 1024px) {
                font-size: 45px;
            }
        }
    }

    .wss {
        padding: 0 5%;

        @media screen and (min-width: 1024px) {
            padding: 0 8.4%;
            margin-bottom: 220px;
        }

        &__pic {
            margin-bottom: 48px;

            @media screen and (min-width: 1024px) {
                width: 50%;
                margin-bottom: 0;
            }
        }

        &__container {
            @media screen and (min-width: 1024px) {
                display: flex;
                margin-bottom: 100px;
            }
        }
        &__box {
            @media screen and (min-width: 1024px) {
                display: flex;
                align-items: center;
                width: 50%;
                padding: 0 7% 0;
            }
        }

        &__heading {
            position: relative;
            text-align: center;
            margin: 24px 0;
            font-family: $Poppins;
            font-size: 24px;
            font-weight: 400;

            @media screen and (min-width: 1024px) {
                margin: 40px 0;
                font-size: 32px;
                font-weight: 500;
            }

            &::before {
                position: absolute;
                top: -24px;
                left: 0;
                content: "";
                width: 100%;
                height: 1px;
                background: $yellow;

                @media screen and (min-width: 1024px) {
                    top: -40px;
                }
            }
        }
        
        &__lead {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 38px;
            font-size: 16px;
            font-weight: 400;

            @media screen and (min-width: 1024px) {
                margin-bottom: 64px;
            }

            &::before {
                display: block;
                top: 0;
                left: 0;
                content: "";
                width: 10%;
                height: 1px;
                background: $yellow;

                @media screen and (min-width: 1024px) {
                    width: 8%;
                }
            }

            &::after {
                display: block;
                top: 0;
                left: 0;
                content: "";
                width: 10%;
                height: 1px;
                background: $yellow;

                @media screen and (min-width: 1024px) {
                    width: 8%;
                }
            }
        }
        
        &__txt {
            margin-bottom: 24px;
            text-align: justify;
            font-size: 13px;
            font-weight: 400;
            line-height: 2;
            opacity: .6;

            @media screen and (min-width: 768px) {
                margin-bottom: 38px;
            }
            @media screen and (min-width: 1024px) {
                flex-grow: 1;
            }
        }
    }
}