@use "../global" as *;

// ハンバーガーメニュー設定 ===========================
.btnBorderHide {
    border: none;
}

.rotateTop {
    transform: rotate(-45deg);
    background: $white;
}

.hideMiddle {
    opacity: 0;
}

.rotateBottom {
    transform: rotate(45deg);
    background: $white;
}

.gnavFadeIn {
    opacity: 1;
    pointer-events: auto;
    
    @media screen and (min-width: 1024px) {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: $blue;
        z-index: 1;
    }
}

// PC用gnav設定
@media screen and (min-width: 1024px) {
    
    .gnavNavPc {
        display: block;
        margin-left: 19%;
    }
    
    .gnavListPc {
        margin-bottom: 72px;
    }
    
    .gnavLinkPc {
        color: $white;
        font-size: 45px;
        font-weight: 600;
    }
}

// リサイズヘッダー設定 ===========================
.resizeHeader {
    position: fixed;
    background: $white;
    
    @media screen and (min-width: 1024px) {
        height: 80px;
    }
}