// settingフォルダの変数を読み込みます
@use "../setting" as *;

// 矢印ボタン  =============================================
//ボタン丸部分
@mixin btn ($value: 51px, $value_pc: 80px){
    display: flex;
    justify-content: center;
    align-items: center;
    width: $value;
    height: $value;
    border: 1px solid $yellow;
    border-radius: 50%;
    transition: .3s;

    @media screen and (min-width: 1024px) {
        width: $value_pc;
        height: $value_pc;
    }
}
//ボタン矢印部分
@mixin arrow ($width:10px) {
    width: $width;
    stroke: $yellow;
    transition: .3s;

    @media screen and (min-width: 1024px) {
        width: 18.9px;
    }
}
// hover:ボタン丸部分アクション
@mixin btnAction {
    background: $white;
    border: 1px solid $white;
}
// hover:矢印部分アクション
@mixin arrowAction {
    stroke: $navy;
    transform: translateX(4px);
    
    @media screen and (min-width: 1024px) {
        transform: translateX(8px);
    }
}

// トップページセクションタイトル  ==========================
// セクションタイトル
@mixin TopSecTitle {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: $Poppins;
    font-size: 24px;
    font-weight: 600;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
    @media screen and (min-width: 1024px) {
        font-size: 28px;
    }
}
// タイトル装飾
@mixin TopSecTitleDeco ($left:0 , $left_pc:0) {
    position: absolute;
    left: $left;
    content: "";
    width: 20px;
    height: 2px;
    // 色は後ほど変更**********
    background: red;

    @media screen and (min-width: 1024px) {
        left: $left_pc;
    }
}
// タイトル日本語部
@mixin TopSecTitleJpn ($left: 0) {
    font-size: 14px;
    font-weight: 400;

    @media screen and (min-width: 768px) {
        position: relative;
        top: 0;
        left: ($left);
    }
}

